{% extends 'base.html' %}
{% block title %}{% if edit == 1 %}Редактирование поста{% else %}Создание поста{% endif %}{% endblock %}
{% block content %}
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                  {% if edit == 1 %}
                      Редактировать пост
                      {% else %}
                      Новый пост
                  {% endif %}
              </div>
              <div class="card-body">
                  <form method="post" enctype="multipart/form-data" action="{% if edit == 1 %}{% url 'social:update' post.pk %}{% else %}{% url 'social:create' %}{% endif %}">{% csrf_token %}
                      <div class="form-group row my-3 p-3">
                    <label for="id_title">
                      Название поста
                      <span class="required text-danger" >*</span>
                    </label>
                    <textarea name="title" cols="40" rows="1" class="form-control" required id="id_title">{% if edit == 1 %}{{ post.title }}{% endif %}</textarea>
                    <small id="id_text-help" class="form-text text-muted">
                      Название нового поста
                    </small>
                  </div>
                      <div class="form-group row my-3 p-3">
                    <label for="id_text">
                      Текст поста
                      <span class="required text-danger" >*</span>
                    </label>
                    <textarea name="text" cols="40" rows="10" class="form-control" required id="id_text">{% if edit == 1 %}{{ post.text }}{% endif %}</textarea>
                    <small id="id_text-help" class="form-text text-muted">
                      Текст нового поста
                    </small>
                  </div>
                  <div class="form-group row my-3 p-3">
                    <label for="id_group">
                      Группа
                    </label>
                    <select name="group" class="form-control" id="id_group">
                    {% if edit == 1 %}
                        <option value="{{ post.group.id }}" selected>{% if post.group.title %}
                          Группа: {{ post.group.title }}{% else %}---------{% endif %}
                        </option>
                        {% else %}
                        <option value="0" selected>---------
                      </option>
                    {% endif %}
                        {% for item in group %}
                            <option value="{{ item.id }}">Группа: {{ item }}</option>
                        {% endfor %}
                        {% if post.group.title %}
                            <option value="0">---------</option>
                        {% endif %}
                    </select>

                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>

                     <div class="form-group row my-3 p-3">
                        <label for="id_tags">Теги</label>
                        <select name="tags" class="form-control" id="id_tags">
                            <option value="1">Технологии</option>
                            <option value="2">Наука</option>
                            <option value="3">Искусство</option>
                            <!-- Добавьте другие варианты, если необходимо -->
                        </select>

                        <small id="id_tags-help" class="form-text text-muted">
                            Выберите один или несколько тегов, которые будут применены к посту
                        </small>
                    </div>


                  <div class="form-group row my-3 p-3">
                  <label for="image">Выберите изображение:</label>
                  <input type="file" name="image" class="form-control" id="image">
<!--                  <input type="file" id="image" name="image">-->
                    <small id="id_text-help" class="form-text text-muted">
                      Загрузите изображение
                    </small>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                                          {% if edit == 1 %}
                      Добавить
                      {% else %}
                      Сохранить
                  {% endif %}
                    </button>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
        <script>
    // Функция для обновления отображения выбранных тегов
    function updateSelectedTags() {
        var selectedTags = [];
        var select = document.getElementById("id_tags");
        var selectedOptions = select.selectedOptions;

        for (var i = 0; i < selectedOptions.length; i++) {
            selectedTags.push(selectedOptions[i].text);
        }

        var selectedTagsDiv = document.getElementById("selected-tags");
        selectedTagsDiv.innerHTML = "Выбранные теги: " + selectedTags.join(", ");
    }

    // Обработчик изменения элемента select
    document.getElementById("id_tags").addEventListener("change", updateSelectedTags);

    // Инициализация отображения выбранных тегов при загрузке страницы
    window.addEventListener("load", updateSelectedTags);

        $(document).ready(function() {
        $("#id_tags").select2({
            placeholder: "Выберите теги", // Текст для плейсхолдера
            allowClear: true, // Разрешить сброс выбора
            multiple: true // Разрешить множественный выбор
        });
    });

</script>
    </main>
{% endblock content %}