{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Пост {{ posts.text }}{% endblock %}
{% block content %}
{% load user_filters %}
<main id="site-main">

    <!-- Post Content -->
    <section class="container">
        <article id="post">
            <div class="headings text-center">
                <div class="title">
                        <h2 class="text-title text-dark display-1">{{posts.title}}</h2>
                    </div>
                <div class="meta">
                    <a href="{% url  'social:profile' posts.author.username %}" class="link display-2 text-secondary px-1">
                        <i class="fas fa-user text-primary" style="color: #343a40!important"></i>
                        {{ posts.author.username }}
                    </a>
                    <a href="#" class="link display-2 text-secondary px-1">
                        <i class="fas fa-clock text-primary" style="color: #343a40!important"></i> {{ posts.pub_date|date:"d E Y в H:i" }}
                    </a>
                </div>
            </div>
            {% if posts.image %}
            <div class="thumbnail mt-3">
                {% thumbnail posts.image "960x339" crop="center" upscale=True as im %}
                <img class="thumbnail" src="{{ im.url }}">
                {% endthumbnail %}
            </div>
            {% endif %}
                <div class="content text-dark display-2 secondary-title mt-3">
                    {% if posts.text|length > 150 %}
                    <h5><pre style="white-space: pre-wrap;">{{ posts.text|safe }}</pre></h5>
                    {% else %}
                    <h5 style="text-align: center;"><pre style="white-space: pre-wrap;">{{ posts.text|safe }}</pre></h5>
                    {% endif %}
                </div>
        </article>
        <div class="post-footer mb-3">
            <div class="post-tags d-flex flex-wrap justify-content-center">
                {% for com in tags %}
                <a href="{% url  'social:tag' com.name %}" class="nav-link btn bg-light">{{com.name}}</a>
                {% endfor %}
            </div>
        </div>
               <div class="post-comments py-2">
                   <h3 class="text-center display-1 secondary-title py-2">{{comment.count}} Comments</h3>
                   {% for com in comments %}
                    <div class="comment-details">
                        <div class="comment-item py-2">
                            <div class="d-flex">
                                <div class="avatar px-2">
                                {% with user_avatar=avatar|get_user_avatar:com.com_author.id %}
                                    {% if user_avatar %}
                                        <img src="{{ user_avatar.avatar.url }}" alt="mdo" width="55" height="55" class="rounded-circle">
                                    {% else %}
                                        <img src="/media/avatar/unknowuserpic.png" alt="mdo" width="55" height="55" class="rounded-circle">
                                    {% endif %}
                                {% endwith %}
                                </div>
                                <div class="comment-content">
                                    <h5 class="display-2 m-0">
                                        <strong><a href="{% url  'social:profile' com.com_author.username %}" style="color: black; text-decoration: none"> {{ com.com_author.username }}</a></strong>
                                        {% if request.user.id == com.com_author_id %}
                                        <sup>{{ com.com_date | date:'d.m.Y в H:i'}}	<a href="{% url  'social:com_del' com.id %}" style="color: black; text-decoration: none">&#10006;</a></sup>
                                        {% else %}
                                        <sup>{{ com.com_date | date:'d.m.Y в H:i'}}</sup>
                                        {% endif %}
                                    </h5>
                                    <p class="title-secondary text-dark">
                                         {{ com.com_text }}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
            <h3 class="text-center display-1 secondary-title py-2">Оставьте комментарий</h3>
                <form method="post" action="{% url 'social:comment' posts.pk %}">{% csrf_token %}
                        <div class="comment-form">
                <textarea class="form-control mt-3" placeholder="Напишите что-нибудь..." rows="10" name="text"></textarea>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary display-2 text-light mt-2">Отправить</button>
                </div>
            </div>
                </form>
        </div>
            </section>
</main>
{% endblock content %}