{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}Страница пользователя {{ username }}{% endblock %}
  {% block content %}
    <main>
      <div class="container py-5">
                  <div class="d-flex">
                                <div class="avatar px-2">
                                            {% if avatar %}
                                            <img src="/media/{{ avatar.avatar }}"
                                               alt="mdo" width="170" height="170" class="rounded-circle">
                                            {% else %}
                                            <img src="/media/avatar/unknowuserpic.png"
                                               alt="mdo" width="170" height="170" class="rounded-circle">
                                            {% endif %}
                                </div>
                                <div class="comment-content">
                                    <h1>Пользователь {{ username }}</h1>
                                    <h5>&emsp;Дата регистрации {{ request.user.date_joined|date:"d E Y в H:i" }}</h5>
                                    <h6>&emsp;&#8226;Подписчиков: {{ follows }}&emsp;&#8226;Всего постов: {{ count }}&emsp;&#8226;Лайков: {{like}}</h6>
                              {% if curruser != username %}
      {% if follow %}
          <div class="frame">
              &emsp;<a href="{% url  'social:follow' username %}"><button class="custom-btn btn-13">Подписаться</button></a>
            </div>
<!--          <a href="{% url  'social:follow' username %}" style="color: black; text-decoration: none">Подписаться</a>-->
      {% else %}
          <div class="frame">
              &emsp;<a href="{% url  'social:follow' username %}"><button class="custom-btn btn-13">Отписаться</button></a>
            </div>
      {% endif %}
      {% endif %}
                                    </div>
          </div>
        <br><h3>Архив постов</h3>
          {% for post in posts %}
        <article>
          <ul>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <a href="{% url  'social:post_detail' post.pk %} " style="color: black; text-decoration: none;overflow: hidden;text-overflow: ellipsis;max-width: 200px;">
                <img class="card-img my-2" src="{{ im.url }}">
                </a>
          {% endthumbnail %}
            <span><p><a href="{% url  'social:post_detail' post.pk %} " style="color: black; text-decoration: none">
              {% if post.text|length > 150 %}
                                    <p>{{ post.text|slice:":150" }}...</p>
                                {% else %}
                                    <p>{{ post.text }}</p>
                                {% endif %}
            </a></p></span>
        </article>
              {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        <!-- Остальные посты. после последнего нет черты -->
        <!-- Здесь подключён паджинатор -->
      </div>
        <style>
            .custom-btn {
              width: 150px;
              height: 40px;
              color: #fff;
              border-radius: 5px;
              padding: 10px 25px;
              font-family: 'Lato', sans-serif;
              font-weight: 500;
              background: transparent;
              cursor: pointer;
              transition: all 0.3s ease;
              position: relative;
              display: inline-block;
              box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
                7px 7px 20px 0px rgba(0, 0, 0, .1),
                4px 4px 5px 0px rgba(0, 0, 0, .1);
              outline: none;
            }

            .btn-13 {
              background-color: #89d8d3;
              background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
              border: none;
              z-index: 1;
            }

            .btn-13:after {
              position: absolute;
              content: "";
              width: 100%;
              height: 0;
              bottom: 0;
              left: 0;
              z-index: -1;
              border-radius: 5px;
              background-color: #4dccc6;
              background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
              box-shadow:
                -7px -7px 20px 0px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0002,
                4px 4px 5px 0px #0001;
              transition: all 0.3s ease;
            }

            .btn-13:hover {
              color: #fff;
            }

            .btn-13:hover:after {
              top: 0;
              height: 100%;
            }

            .btn-13:active {
              top: 2px;
            }
        </style>
    </main>
      {% include 'includes/paginator.html' %}
    {% endblock content %}