{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}Страница пользователя {{ username }}{% endblock %}
  {% block content %}
    <main>
      <div class="container py-5">
        <h1>Все посты пользователя {{ username }}</h1>
        {% if curruser != username %}
      {% if follow %}
            <div class="wrapper">
        <a href="{% url  'social:follow' username %}"><button class="">
            <span>Подписаться</span>
            <div class="success">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 29.756 29.756"
                    style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">

                    <path
                        d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z" />
                </svg>
            </div>
        </button></a>
    </div>
<!--          <a href="{% url  'social:follow' username %}">Подписаться</a>-->
      {% else %}
        <div class="wrapper">
        <a href="{% url  'social:follow' username %}"><button class="">
            <span>Отписаться</span>
            <div class="success">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 29.756 29.756"
                    style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">

                    <path
                        d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z" />
                </svg>
            </div>
        </button></a>
    </div>
<!--          <a href="{% url  'social:follow' username %}">Отписаться</a>-->
      {% endif %}
      {% endif %}
        <br><br>
        <h3>Всего постов: {{ count }} </h3>
          {% for post in posts %}
        <article>
          <ul>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
            {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
            <span><p><a href="{% url  'social:post_detail' post.pk %} " style="color: black; text-decoration: none">{{ post.text }}</a></p></span>
        </article>
              {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        <!-- Остальные посты. после последнего нет черты -->
        <!-- Здесь подключён паджинатор -->
      </div>
      <script>let btn = document.querySelector("button");

        btn.addEventListener("click", active);

        function active() {
            btn.classList.toggle("is_active");
        }</script>
    <style>
        .avatar {
                  display: inline-block;
                  width: 100px; /* задаем ширину блока с аватаркой */
                  height: 100px; /* задаем высоту блока с аватаркой */
                  border-radius: 50%; /* делаем круглую форму */
                  overflow: hidden; /* скрываем все, что выходит за границы круга */
                }

                .avatar img {
                  width: 100%; /* задаем ширину картинки равной ширине блока */
                  height: auto; /* автоматически вычисляем высоту картинки */
                }
                .wrapper {
                  position: relative;
                  width: 100%;
                  height: 100%;
                }

                button {
                  font-family: 'Ubuntu', sans-serif;
                  position: absolute;
                  top: 100%;
                  left: 0%;
                  /*transform: translate(-50%, -50%);*/

                  width: 170px;
                  height: 40px;
                  line-height: 1;
                  font-size: 18px;
                  font-weight: bold;
                  letter-spacing: 1px;
                  /*border: 3px solid lightskyblue;*/
                  background: #fff;
                  color: lightskyblue;
                  /*border-radius: 40px;*/
                  cursor: pointer;
                  overflow: hidden;
                  transition: all .35s;
                }

                button:hover {
                  background: lightskyblue;
                  color: #fff;
                }

                button span {
                  opacity: 1;
                  visibility: visible;
                  transition: all .35s;
                }

                .success {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: #fff;
                  border-radius: 50%;
                  z-index: 1;
                  opacity: 0;
                  visibility: hidden;
                  transition: all .35s;
                }

                .success svg {
                  width: 20px;
                  height: 20px;
                  fill: yellowgreen;
                  transform-origin: 50% 50%;
                  transform: translateY(-50%) rotate(0deg) scale(0);
                  transition: all .35s;
                }

                button.is_active {
                  width: 40px;
                  height: 40px;
                }

                button.is_active .success {
                  opacity: 1;
                  visibility: visible;
                }

                button.is_active .success svg {
                  margin-top: 50%;
                  transform: translateY(-50%) rotate(720deg) scale(1);
                }

                button.is_active span {
                  opacity: 0;
                  visibility: hidden;
                }
    </style>
    </main>
      {% include 'includes/paginator.html' %}
    {% endblock content %}