{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Настройки{% endblock %}
  {% block content %}
<main>
      <div class="container py-5">
          <div class="d-flex">
                                <div class="comment-content">
                                    <h1>Настройки</h1>
                                </div>
          </div>
                        <div class="container">
                  <a href="{% url  'users:password_change_form' %}" class="nav-link" ><h5>Сменить пароль</h5></a>
                            <a href="#" class="nav-link" ><h5>Сменить email</h5></a>
          <form method="post" enctype="multipart/form-data" action="{% url 'social:settings' request.user %}">
            {% csrf_token %}
              <div class="form-group row my-3 p-3">
                  <h5>Сменить аватар</h5>
                  <label for="avatar">Выберите изображение:</label>
                  <input type="file" name="avatar" class="form-control" id="avatar" accept="image/*">
                    <small id="id_text-help" class="form-text text-muted" >
                      Загрузите изображение
                    </small>
                  </div>
            <div>
                <a href="{% url 'social:del_image' request.user %}">
                <button type="button" class="btn btn-danger" id="deleteButton">
                    Удалить аватар
                </button></a>
                <button type="submit" class="btn btn-primary" id="saveButton" style="display: none;">
                    Сохранить
                </button>
            </div>
        </form>
      </div>
          </div>
    <script src="{% static 'js/js.js' %}"></script>
    </main>
    {% endblock content %}