{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Настройки{% endblock %}
  {% block content %}
<main>
      <div class="container py-5">
          <div class="d-flex">
                                <div class="avatar px-2">
                                            {% if pic %}
                                            <img src="/media/{{ pic }}"
                                               alt="mdo" width="140" height="140" class="rounded-circle">
                                            {% else %}
                                            <img src="/media/avatar/unknowuserpic.png"
                                               alt="mdo" width="140" height="140" class="rounded-circle">
                                            {% endif %}
                                </div>
                                <div class="comment-content">
                                    <h1>Пользователь {{ request.user }}</h1>
                                    <h5>Дата регистрации {{ request.user.date_joined|date:"d E Y в H:i" }}</h5>
                                </div>
          </div>
          <form method="post" enctype="multipart/form-data" action="{% url 'social:settings' request.user %}">
            {% csrf_token %}
              <div class="form-group row my-3 p-3">
                  <label for="avatar">Выберите изображение:</label>
                  <input type="file" name="avatar" class="form-control" id="avatar" accept="image/*">
                    <small id="id_text-help" class="form-text text-muted" >
                      Загрузите изображение
                    </small>
                  </div>
            <div>
                <a href="{% url 'social:del_image' request.user %}">
                <button type="button" class="btn btn-danger" id="deleteButton">
                    Удалить аватар
                </button></a>
                <button type="submit" class="btn btn-primary" id="saveButton" style="display: none;">
                    Сохранить
                </button>
            </div>
        </form>
      </div>
    <script src="{% static 'js/js.js' %}"></script>
    </main>
    {% endblock content %}