{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
</head>
<body>
               <div class="copyrights">
                   <p class="text-center text-secondary display-2">
                        © {{ year }} <a href="{% url  'social:main' %}" style="color: var(--primary-color);">Dailytuition</a> - Personal Blog Theme. All rights reserved.
                   </p>
               </div>
</body>
</html>