{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gridy Blog</title>
</head>

<body>

<!-- Header -->
<header id="header" class="shadow bg-light">
        <div class="container">
            <nav class="container navbar">
        <a href="{% url  'social:main' %}" class="nav-brand text-dark">
            SocialClub
        </a>
            <ul class="navbar-nav" style="flex-direction: row;">
                {% if user.is_authenticated %}
                {% if edit_post and posts.author == request.user %}
                <a href="{% url 'social:update' edit_post %}" class="nav-link">Редактировать пост</a>
                {% elif edit == 1 %}
                <a href="{% url 'social:delete' post.pk %}" class="nav-link">Удалить пост</a>
                {% else %}
                <a href="{% url 'social:main' %}" class="nav-link">Главная</a>
                <a href="#" class="nav-link">Группы</a>
                {% endif %}
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
            {% if pic %}
            <img src="/media/{{ pic }}"
               alt="mdo" width="32" height="32" class="rounded-circle">
            {% else %}
            <img src="/media/avatar/unknowuserpic.png"
               alt="mdo" width="32" height="32" class="rounded-circle">
            {% endif %}
        </a>
        <ul class="dropdown-menu text-small" style="position: absolute;">
          <li><a class="dropdown-item" href="{% url 'social:profile' user.username %}">Профиль</a></li>
          <li><a class="dropdown-item" href="{% url 'social:settings' user.username %}">Настройки</a></li>
            <li><a class="dropdown-item" href="{% url 'social:create' %}">Создать пост</a></li>
          <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
        </ul>
      </div>
        </div>
                {% else %}
                <a href="{% url 'users:login' %}" class="nav-link">Войти</a>
                <a href="{% url 'users:signup' %}" class="nav-link">Регистрация</a>
                {% endif %}

            </ul>
    </nav>
</header>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>