{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gridy Blog</title>
    <!-- custom style.css file -->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->

</head>

<body>

<!-- Header -->
<header id="header" class="shadow bg-light">
    <nav class="container navbar">
        <a href="{% url  'social:main' %}" class="nav-brand text-dark">
            Gridy
        </a>
            <ul class="navbar-nav" style="flex-direction: row;">
                <a href="#" class="nav-link">Home</a>
                <a href="#" class="nav-link">Blog</a>
                <a href="#" class="nav-link">Pages</a>
                <a href="#" class="nav-link">Categories</a>
                <a href="#" class="nav-link">About</a>
                <a href="#" class="nav-link">Contact</a>
            </ul>
    </nav>
</header>
</body>

</html>