{% load static %}
{% if user.is_authenticated %}
  <div class="row my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a style="color: black; text-decoration: none"
          class="nav-link {% if index %}active{% endif %}"
          href="{% url 'social:main' %}"
        >
          Все авторы
        </a>
      </li>
      <li class="nav-item">
        <a style="color: black; text-decoration: none"
           class="nav-link {% if follow %}active{% endif %}"
           href="{% url 'social:sub' %}"
        >
          Избранные авторы
        </a>
      </li>
    </ul>
  </div>
{% endif %}